# AWS IAM role for lambda function
ROLE: 'arn:aws:iam::<YOUR_IAM_ROLE>'
DOMAIN: '<YOUR_DOMAIN>'

DB_NAME: '<FILL_IN>'
DB_USERNAME: '<FILL_IN>'
DB_PASSWORD: '<FILL_IN>'
DB_HOST: '<FILL_IN>'
DB_PORT: 5432
CRUD_USER_PASSWORD: '<FILL_IN>'
READ_USER_PASSWORD: '<FILL_IN>'
